#loginContainer{
    margin-top: 2rem;
}

.form-text{
    color: red;
}

#btnLogin{
    margin-top:1rem;
}

.divLoginButtons{
    display: flex;
}

.btnGoogle{
    margin-right:5px;
}

.btnFacebook{
    cursor:pointer;
}