# Visual Studio / .NET
.vs/
*.user
*.suo
*.cache
bin/
obj/
appsettings.json
logs/*.txt
logs.txt

# Angular / Node.js
ETicaretClient/node_modules/
ETicaretClient/dist/
ETicaretClient/.angular/
ETicaretClient/.env

# Genel OS dosyaları
Thumbs.db
.DS_Store
/ETicaretAPI/Presentation/ETicaretAPI.API/logs/log.txt
